<html>
<title>django-backblazer Testing Site</title>
<body>
<h1>This is the django-backblazer Testing Site</h1>

<p>This is the list of files:</p>

<p>
{% for file in files %}
	{{ file.title }} <br/>
	{{ file.file }}
{% endfor %}
</p>

</body>
</html>
